.group-shipping-summary {
	
}

.group-shipping-summary td {
	text-align: center;
}

.group-ship-order-status td {
	text-align: center;
}

.group-ship-product-list td {
	text-align: center;
}

.group-ship-design-details td {
	text-align: center;
}

.group-ship-design-details tr td:nth-child(3) {
	text-align:left;
}
	
.group-ship-product-list th:nth-child(3),
.group-ship-product-list td:nth-child(3),
.group-ship-product-list th:nth-child(4),
.group-ship-product-list td:nth-child(4) {
	text-align: left;
}

.group-shipping-summary tr td:nth-child(1) {
    text-align: left;
}

.group-ship-apparel-details td {
	text-align: center;
}

.group-ship-apparel-details th:nth-child(3),
.group-ship-apparel-details td:nth-child(3),
.group-ship-apparel-details th:nth-child(4),
.group-ship-apparel-details td:nth-child(4), 
.group-ship-apparel-details th:nth-child(5),
.group-ship-apparel-details td:nth-child(5){
	text-align: left;
	padding-left:20px;
	padding-right:10px;
}

.group-ship th {
	text-decoration: underline;
	
} 

