.group-shipping-summary {
	
}

.group-shipping-summary td {
	text-align: center;
}

.group-ship-order-status td {
	text-align: center;
}

.group-ship-product-list td {
	text-align: center;
}

.group-ship-design-details td {
	text-align: center;
}

.group-ship-design-details tr td:nth-child(3) {
	text-align:left;
}
	
.group-ship-product-list th:nth-child(3),
.group-ship-product-list td:nth-child(3),
.group-ship-product-list th:nth-child(4),
.group-ship-product-list td:nth-child(4) {
	text-align: left;
}

.group-shipping-summary tr td:nth-child(1) {
    text-align: left;
}

.group-ship-apparel-details td {
	text-align: center;
}

.group-ship-apparel-details th:nth-child(3),
.group-ship-apparel-details td:nth-child(3),
.group-ship-apparel-details th:nth-child(4),
.group-ship-apparel-details td:nth-child(4), 
.group-ship-apparel-details th:nth-child(5),
.group-ship-apparel-details td:nth-child(5){
	text-align: left;
	padding-left:20px;
	padding-right:10px;
}

.group-ship th {
	text-decoration: underline;
	
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

table div.rotated {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	writing-mode:tb-rl;
	white-space: nowrap;
}

thead th {
	vertical-align: top;
}

table .vertical {
	white-space: nowrap;
}


.gs-admin-table th.xrotate {
	/* Something you can count on */
	height: 140px;
	white-space: nowrap;
	width: 10px;
}

.gs-admin-table th.xrotate > div {
	transform:
		/* Magic Numbers */
	/*translate(25px, 51px)*/
		/* 45 is really 360 - 45 */
	rotate(80deg);
	width: 80px;
}

.gs-admin-table th.xrotate > div > span {
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
}


.gs-admin-table tr:first-child,
.gs-admin-table-left tr:first-child {
	text-align: center;
}

.gs-admin-table tr th:first-child,
.gs-admin-table tr td:first-child {
	width:25%;
}

.gs-admin-table tr th:not( :first-child ),
.gs-admin-table tr td:not( :first-child ) {
	text-align: center;
}


table.gs tr.heading-row {
	background-color: darkgray;
}

table.gs tr.heading-row th {
	color: white;
	font-weight: bold;
}

table.gs tr.heading-row th input {
	vertical-align: bottom;
}

div.gs-action-buttons {
	margin-top: 10px;
}



.ppi-mode-on {
	color: transparent;
	text-shadow : 0 0 0.9em rgba(0,0,0,0.8);
}
